// import config scss file
@import '_themeConfig.scss';

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}
// mixin for return theme with its props
@function themed($key) {
  @return map-get($theme-map, $key);
}
// use themify mixin in project
*{
  box-sizing: border-box;
}
body{
  margin: 0;padding: 0;
}

.app-container {
  text-align: center;
  padding: 10px 0;
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }

  .title {
    font-family: sans-serif;
    font-weight: lighter;
  }

  .button {
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 32px;
    display: inline-block;
    transition: color 0.1s, border-color 0.1s, background-color 0.1s;

    @include themify($themes) {
      border: themed('buttonBorder');
      color: themed('buttonTextColor');
      border-color: themed('buttonTextColor');
      background-color: themed('buttonColor');
      text-transform: themed('buttonTextTransform');

      &:hover {
        color: themed('buttonTextHoverColor');
        border-color: themed('buttonTextHoverColor');
        background-color: themed('buttonHoverColor');
      }
    }

  }
}
